In [1]:
a = 10

In [6]:
if a < 15:
    print("my name is pk")

my name is pk

In [4]:
a < 15

True

In [7]:
if a < 15:
    pass

In [8]:
if 24 < 15:
    print("hello")

In [9]:
24 < 15

False

In [10]:
if 10 < 3:
    print("hello")
else :
    print("hi")

hi

In [11]:
income = 100
if income <50:
    print("i will buy phone")
elif income <70 :
    print("i will buy car")
    
elif income < 90 :
    print("i will buy bungalow")
else  :
    print("i wont tbe able to buy anything")

i wont tbe able to buy anything

In [13]:
income = int(input())
if income <50:
    print("i will buy phone")
elif income <70 :
    print("i will buy car")
    
elif income < 90 :
    print("i will buy bungalow")
else  :
    print("i wont tbe able to buy anything")

26
i will buy phone

In [15]:
Total_price =int(input())
if Total_price > 20000:
    discount = Total_price * .20
    print("discount will be",discount)
elif Total_price <=7000 :
    discount = Total_price * .05
    print("discount price",discount)
    
else :
    print("wont be able to buy")

4565
discount price 228.25

In [18]:
coup = "sudh500"
if coup == "sudh500" :
    print("able to get a discount of 5 %")
    paid_amount = 7080 - 7080 * 0.05
    print("you wull be able to get ine neuron with this amount",paid_amount)
else:
    print("kindlyuse valid coupon")

able to get a discount of 5 %
you wull be able to get ine neuron with this amount 6726.0

In [17]:
"prabh" == "prabh"

True

In [19]:
study = float(input())
if study <1 and study >0.5 :
    print("you may succeed")
else :
    pass

3.4

In [20]:
a = 9
if a ==9 :
    print("valid")

valid

In [2]:
s = input("enter a string to start")
course = input("enter a course name")
service = input("enter service name")
if s == "oneneuron" :
    if course == "DSA" :
        print("yes  its available under oneneuron and in multiple mode for job prep")
    elif course == "Blockchain":
        print("this is not available as nof now kindly rOSE YPUR DEMAND ")
    elif course == "fsds":
        print("yes ots available and you can start learning")
    else :
        print("kindly rISE YOUR DEMAND")
elif s == "oneneuronservice":
    if service == "courserequest":
        print("you can raise a demand")
    elif service == "module":
        print("raise a demand")
        
    elif service == "doubt":
        print("it will be fufilled")
    elif service == "workwithus":
        print("you can work with us")
    else: 
        print("kindly connect with us")

enter a string to startoneneuron
enter a course nameaxr
enter service nameons
kindly rISE YOUR DEMAND

In [3]:
l = [1,2,3,4,5,6]
for i in l:
    print(i)

1
2
3
4
5
6

In [4]:
s = "prabhat"
for i in s:
    print(i)

p
r
a
b
h
a
t

In [6]:
l = [2,3,4]
l2 =[]
for i in l:
    print(i+2)
    l2.append(i+2)

4
5
6

In [7]:
l2

[4, 5, 6]

# loop

In [1]:
l = [1,2,3,4,5,6,7]
for i in l:
    print(i)

1
2
3
4
5
6
7

In [2]:
s = "prabhat"
for i in s:
    print(i)

p
r
a
b
h
a
t

In [3]:
t = (1,2,3,4,5,6)
for i in t:
    print(i)

1
2
3
4
5
6

In [4]:
l = [1,2,3,4,5,"prabhat"]

In [8]:
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>

In [9]:
l = [1,3,4]

for i in l:
    print(i+2)

3
5
6

In [10]:
l = [1,3,4]
l1 = []
for i in l:
    print(i+2)
    l1.append(i+2)

3
5
6

In [11]:
l1
#get a list

[3, 5, 6]

In [12]:
l = [2,4,3,5,6,5,"prabhat",[3,4,5]]

In [17]:
#get only integer form here
for i in l:
    if type(i) == int:
        print(i)
    elif type(i) == list:
        #print(i)
        for j in i:
            if type(j) == int:
                print(j)

2
4
3
5
6
5
3
4
5

In [19]:
l

[2, 4, 3, 5, 6, 5, 'prabhat', [3, 4, 5]]

In [20]:
l = [2,45,78,12,"prabhat",6+6j ,[56,45,23,11,"prabhat"]]

In [22]:
#q1:  print index of all elements
for i in l:
    print(l.index(i))
#not advisable to use index func to
#if there are repetetive numbers then we face problem

0
1
2
3
4
5
6

In [37]:
len(l)

7

In [40]:
#another solution
for i in range(10):
    print("index" , i , "for an element" ,l[i])

index 0 for an element 2
index 1 for an element 45
index 2 for an element 78
index 3 for an element 12
index 4 for an element prabhat
index 5 for an element (6+6j)
index 6 for an element [56, 45, 23, 11, 'prabhat']

IndexError: list index out of range

In [41]:
for i in enumerate(l):
    print(i)

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 'prabhat')
(5, (6+6j))
(6, [56, 45, 23, 11, 'prabhat'])

In [42]:
for i,j in enumerate(l):
    print(i,j)

0 2
1 45
2 78
3 12
4 prabhat
5 (6+6j)
6 [56, 45, 23, 11, 'prabhat']

In [43]:
l

[2, 45, 78, 12, 'prabhat', (6+6j), [56, 45, 23, 11, 'prabhat']]

In [47]:
#extract all the list of char if a element is string

for i in l:
    if type(i) == str:
        l1 = []
        for j in i:
            l1.append(j)
        print(l1)

['p', 'r', 'a', 'b', 'h', 'a', 't']

In [45]:
l1

['prabhat']

In [31]:
#return a list after doing a square of all elements
l

[2, 45, 78, 12, 'prabhat', (6+6j), [56, 45, 23, 11, 'prabhat']]

In [49]:
l3=[]
for i in l:
    if type(i) == int:
        #print(i**2)
        l3.append(i**2)
print(l3)

[4, 2025, 6084, 144]

In [50]:
list(range(4))

[0, 1, 2, 3]

In [51]:
2 and 3

3

In [52]:
2 or 3

2