In [1]:
s = " this is a basic python class"

In [2]:
len(s)

29

In [5]:
#count no of letter in string without using inbuilt function
count = 0
for i in s:
    count = count + 1
print(count)

29

In [6]:
s[::-1]

'ssalc nohtyp cisab a si siht '

In [13]:
for i in range(len(s)-1,0 ,-1):
    print(s[i],end =" ")

s s a l c   n o h t y p   c i s a b   a   s i   s i h t

In [10]:
s[28]

's'

In [12]:
#using while loop reverse string
i =len(s)-1
while (i >=0):
    print(s[i], end=" ")
    i = i-1

s s a l c   n o h t y p   c i s a b   a   s i   s i h t

In [14]:
s = "ineuron"
v = " AaEeIiOoUu"

In [19]:
#filter vowel from s
for i in s:
    if i in v:
        print("vowel is", i)
    else:
        print("not vowel",i)

vowel is i
not vowel n
vowel is e
vowel is u
not vowel r
vowel is o
not vowel n

In [23]:
s = "prabhat"
v = " AaEeIiOoUu"
for i in s:
    if i in v:
        print("vowel is",i)
    else:
        print("this is not vowel",i)

this is not vowel p
this is not vowel r
vowel is a
this is not vowel b
this is not vowel h
vowel is a
this is not vowel t

In [ ]:
"tnent"
"malayalam"
"eye"

In [27]:
#print palindrome
s =input()
rev_s = s[::-1]
if s == rev_s:
    print("given string is: palindrome")
else:
    print("string is not palindrome")

malayalam
given string is: palindrome

In [30]:
word = input()
for i in range(len(word)):
    if word[i] == word[len(word)-1 -i]:
        continue
    else:
        print(word,"not palindrome")
else:
    print(word,"palindrome")

malayalam
malayalam palindrome

In [31]:
word = input()
for i in range(len(word)):
    if word[i] == word[len(word)-1 -i]:
        print("palindrome")
        continue
    else:
        print(word,"not palindrome")
# else:
#     print(word,"palindrome")

eye
palindrome
palindrome
palindrome

In [32]:
word = input()
for i in range(len(word)):
    if word[i] == word[len(word)-1 -i]:
        print("palindrome")
        break
    else:
        print(word,"not palindrome")

eye
palindrome

In [34]:
d = {"india":"IN",
    "canada" : "CA",
     "china":"CH",
    "USA":"us"}

In [35]:
for i in d:
    print(i)

india
canada
china
USA

In [39]:
l_greater = []
l_smaller = []
for i in d:
    if len(i) <=5:
        
        l_smaller.append(i)
    else:
        l_greater.append(i)

In [40]:
l_greater

['canada']

In [41]:
l_smaller

['india', 'china', 'USA']

In [43]:
d1 = {"ineuron":{"a":14,"b" : 10, "c" :4},
        "course":{ "d":45,"e":56,"f":0}
      }
lst1 = []
lst2 = []
for i in d1["ineuron"].values():
    lst1.append(i)
    #lst1.sort()
print(lst1[-1])
for i in d1['course'].values():
    lst2.append(i)
    #lst2.sort()
print(lst2[-1])

4
0

In [44]:
lst1

[14, 10, 4]

In [45]:
lst2

[45, 56, 0]

In [46]:
for i in d1.values():
    print(max(i.values()))

14
56

In [47]:
for i in d1.values():
    print(i)

{'a': 14, 'b': 10, 'c': 4}
{'d': 45, 'e': 56, 'f': 0}

In [48]:
lst = []
for i in d1.values():
    for j in i.values():
        
        lst.append(j)
    print(max(lst))

14
56

In [49]:
lst

[14, 10, 4, 45, 56, 0]

In [61]:
d = {"india":"IN","canada":"CA","china":"ch","united state":"us"}
k = []
l = []
c= 0
for i in d:
    for j in i:
        c = c+1
        #print(c)
        
    if c >5 :
        l.append(i)
    else:
        k.append(i)

In [62]:
k

['india']

In [55]:
l

['canada', 'china', 'united state']

In [63]:
int("prabhat")

ValueError: invalid literal for int() with base 10: 'prabhat'

In [64]:
int("45")

45

In [65]:
i = 1
while i<10:
    if i ==4:
        continue
    print(i)
    i = i+1

1
2
3

KeyboardInterrupt:

In [67]:
for i in range(10):
    if i == 4:
        break
    print(i)

0
1
2
3

In [70]:
a = int(input("enter a number"))
for i in range(2,a):
    #print(i)
    if i%2 ==0:
        print("prime")
    else:
        print("not prime")

enter a number5
prime
not prime
prime