### What Is A Tuple ?

In [ ]:
Python provides another type that is an ordered collection of objects.


This type is called a tuple.

### Differences With List

Tuples are identical to lists in all respects, except for the following properties:

Tuples are defined by enclosing the elements in parentheses (()) instead of square brackets ([]).

Tuples are immutable.

### Advantages Of Tuple Over List

Program execution is faster when manipulating a tuple than it is for the equivalent list. 

They prevent accidental modification.

There is another Python data type called a dictionary, which requires as one of it’s components a value that is of an immutable type. A tuple can be used for this purpose, whereas a list can’t be.

In [ ]:
As mentioned before a tuple is created by placing all the items (elements) inside a parenthesis (  ), separated by commas.

It can contain heterogeneous elements also.

In [2]:
# empty tuple
my_tuple = ()

In [3]:

# tuple having integers
my_tuple = (1, 2, 3)

In [4]:
# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)

In [5]:
my_tuple = (2)
print(my_tuple)
print(type(my_tuple))

2
<class 'int'>

In [6]:
my_tuple = (2,)
print(my_tuple)
print(type(my_tuple))

(2,)
<class 'tuple'>

Packing and unpacking is another thing which sets tuples apart from lists.

In [ ]:
Packing:
Packing is a simple syntax which lets us create tuples "on the fly" without using the normal notation:
	a = 1, 2, 3 
This creates a tuple of 3 values and assigned it to a. Comparing this to the "normal" way:
	a = (1, 2, 3)

In [7]:
a = (1, 2, 3)

In [10]:
x, y= a

ValueError: too many values to unpack (expected 2)

In [9]:
x, y, z

(1, 2, 3)

In [ ]:
Unpacking:
We can also go the other way, and unpack the values from a tuple into separate variables:
    a = 1, 2, 3 
    x, y, z = a 

After running this code, we have x = 1, y = 2 and z = 3. 

The value of the tuple a is unpacked into the 3 variables x, y and z. 

Note that the number of variables has to exactly match the number of elements in the tuple, or there will be an exception.

In [ ]:
In the previous code , the variable a is just used as a temporary store for the tuple. 

We also can leave the middle-man and do this:
	x, y, z = 1, 2, 3 

After running this code, as before, we have x = 1, y =2 and z = 3.

But can you guess what Python is doing internally ?

In [ ]:
We have seen the following code many times before which swaps the variables a and b :
	a = 10 
	b = 20 
	b, a = a, b

Now , can you tell what is happening internally ?

First, a and b get packed into a tuple. 
Then the tuple gets unpacked again, but this time into variables b then a. 
So the values get swapped!

In [11]:
def calculate(a,b): 
    c=a+b
    d=a-b
    return c,d

In [12]:
x,y=calculate(5,3)

In [13]:
x

8

In [14]:
y

2

In [ ]:
def calculate(a,b): 
    c=a+b
    d=a-b
    return c,d
x,y=calculate(5,3)
print("Sum is",x,"and difference is",y)
z=calculate(15,23)
print("Sum is",z[0],"and difference is",z[1])

Here Python will do the following:
    
It will pack the values of c and d in a tuple

Then it will unpack this tuple into the variables x and y

In the second call since z is a single variable , it is automatically converted into a tuple

In [17]:
def add(*a):
    print("Sum is",a)

mytuple=(10,20,30,40)
add(mytuple)

Sum is ((10, 20, 30, 40),)

In [ ]:
Since we are passing mytuple as a
single argument , so Python
is giving exception.

In [ ]:
To overcome this we must 
unpack mytuple to 4 individual 
values. This can be done by 
prefixing mytuple with
a *. So the call will be
add(*mytuple

In [19]:
def add(a,b,c,d):
    print("Sum is",a+b+c+d)

mytuple=(10,20,30,40)
add(*mytuple)

Sum is 100

In [ ]:
Similar to a list , we can access/print a tuple in three ways:

Directly passing it to the print( ) function

Accessing individual elements using subscript operator [ ]

Accessing multiple elements using slice operator [ : ]

In [ ]:
values=(10,20,30,40)
print(values)

In [ ]:
Like a list , a tuple also  has indexes running from 0 to size-1

For example:

mynums=(10,20,30,40,50)


The above code will create a logical diagram in memory, where positive indexing will go from 0 to 4 and negative indexing from -1 to -5

In [ ]:
Accessing Individual Elements

In [ ]:
mynums=(10,20,30,40,50)
print(mynums[0])
print(mynums[1])
print(mynums[-3])
print(mynums[-2])

In [ ]:
mynums=(10,20,30,40,50)
n=len(mynums)
i=0
while i<n:
	print(mynums[i])
	i=i+1

In [ ]:
mynums=(10,20,30,40,50)
for x in mynums:
	print(x)

### Slice Operator With Tuple

In [ ]:
Just like we can apply slice operator with lists and strings , similarly Python allows us to apply slice operator with tuple also.


Syntax: tuple_var[x:y]

x denotes the start index of slicing and y denotes the end index . But Python ends slicing at y-1 index.

In [ ]:
Example:
	
mynums=(10,20,30,40,50)
print(mynums[1:4])

In [ ]:
Example:

mynums=(10,20,30, 40,50)
print(mynums[3:5])

### Changing The Tuple

### Deleting The Tuple

### Functions Used With Tuple

In [ ]:
Unlike lists, tuples are immutable.



This means that elements of a tuple cannot be changed once it has been assigned.

In [ ]:
mynums=(10,20,30,40,50)
mynums[0]=15

In [ ]:
mynums=([10,20],30,40,50)
print(mynums)
mynums[0][0]=15
print(mynums)

In [ ]:
Although a tuple is immutable,
but if it contains a mutable
data then we can change 
it’s value

In [ ]:
myvalues=("hello",30,40,50)
print(myvalues)
myvalues[0]="hi"
print(myvalues)

In [ ]:
myvalues=(["hello",20],30,40,50)
print(myvalues)
myvalues[0][0]="hi"
print(myvalues)

In [ ]:
mynums=(10,20,30,40,50)
print(mynums)
mynums=(15,25,35,45,55)
print(mynums)

In [ ]:
As we discussed previously, a tuple is immutable. 


This also means that we can’t delete just a part of it. 


However we can delete an entire tuple if required.

In [ ]:
mynums=(10,20,30,40,50)
print(mynums)
del mynums[0]
print(mynums)

In [ ]:
mynums=(10,20,30,40,50)
print(mynums)
del mynums[2:4]
print(mynums)

In [ ]:
mynums=(10,20,30,40,50)
print(mynums)
del mynums
print(mynums)

A lot of functions that work on lists work on tuples too. 

But only those functions work with tuple which do not modify it

Can you figure out which of these functions will work with tuple ?

len()

max()

min()

sum()

sorted()

tuple()

any()

all()

All of them will work with tuple.

Will sorted( ) also work ?

Yes, even sorted( ) function 
will also work since it does not 
change the original tuple , 
rather it returns a sorted copy 
of it

### The len( ) Function

In [ ]:
Returns the number of items in the tuple
Example:
fruits=("apple","banana","orange",None)
print(len(fruits))

### The max( ) Function

In [ ]:
Returns the greatest item present in the tuple

Example:
nums=(5,2,11,3)
print(max(nums))

In [ ]:
months=("january","may","december“)
print(max(months))

In [ ]:
booleans=(False,True)
print(max(booleans))

In [ ]:
Mynums=(True,5,False)
print(max(mynums))

In [ ]:
mynums=("True",False)
print(max(mynums))

In [ ]:
values=(10,"hello",20,"bye")
print(max(values))

In [ ]:
fruits=("apple","banana","orange")
print(max(fruits))

In [ ]:
fruits=("apple","banana","orange",None)
print(max(fruits))

### The min( ) Function

In [ ]:
Returns the least item present in the tuple

Example:
nums=(5,2,11,3)
print(min(nums))

In [ ]:
months=("january","may","december")
print(min(months))

### The sum( ) Function

In [ ]:
Returns the sum of all the items present in the tuple . 

As before , the  items must be of Numeric or boolean type

Example:
nums=(10,20,30)
print(sum(nums))

### The sorted( ) Function

In [ ]:
Returns a sorted version of the tuple passed as argument.

Example:
nums=(7,4,9,1)
print(sorted(nums)) 
print(nums)

In [ ]:
Although sorted( ) is working
on a tuple , but it has returned
a list

In [ ]:
months=("january","may","december")
print(sorted(months)) 

Output:
[“december”,”january”,”may”]

### Sorting In Descending Order

In [ ]:
To sort the tuple in descending order , we can pass the keyword argument reverse with value set to True to the function sorted( )

Example:
nums=(7,4,9,1)
print(sorted(nums,reverse=True))
print(nums)

In [ ]:
The tuple( ) function converts an iterable i.e list , range, set , dictionary and string to a tuple.
Syntax:
tuple(iterable)

Example:
city="bhopal"
x=tuple(city)
print(x)

In [ ]:
n=20
x=tuple(n)
print(x)

In [ ]:
n="20"
x=tuple(n)
print(x)

In [ ]:
l=[10,20,30]
x=tuple(l)
print(x)

### The any( ) Function

In [ ]:
The any( ) function accepts a Tuple as argument and returns True if atleast one element of the Tuple is True. If not, this method returns False. If the Tuple is empty, then also it returns False
Syntax:
list(iterable)

Example:
x = (1, 3, 4, 0)
print(any(x))

In [ ]:
x = (0, False)
print(any(x))

In [ ]:
x = (0, False, 5)
print(any(x))

In [ ]:
x= ()
print(any(x))

In [ ]:
x= ("","0", "")
print(any(x))

In [ ]:
x= ("",0, "")
print(any(x))

### The all( ) Function

In [ ]:
The all( ) function accepts a Tuple as argument and returns True if  all the elements of the Tuple are True or if the Tuple is empty .If not, this method returns False.

Syntax:
all(iterable)

Example:
x = (1, 3, 4, 0)
print(all(x))

In [ ]:
x = (0, False)
print(all(x))

In [ ]:
x = (1,3,4,5)
print(all(x))

In [ ]:
x = (0, False, 5)
print(all(x))

In [ ]:
x= ()
print(all(x))

### Methods Used With Tuple

### Operations Allowed On Tuple

As mentioned previously a Tuple is immutable.
So only those methods work with it which do not change the tuple data
Can you figure out which of these methods work with tuples ?
These are:

append()

extend()

insert()

index()

count()

remove()

pop()

clear()

sort()

reverse()

Only index( ) and count( ).
Rest all the methods change the 
sequence object on which they 
have been called.

### The index( ) Method

In [ ]:
The index() method searches an element in the tuple and returns it’s index. 
If the element occurs more than once it returns it’s smallest/first position. 
If element is not found, it raises a ValueError exception 

Syntax:
tuple_var.index(item)

Example:
primes=(2,3,5,7)
pos=primes.index(5)	
print("position of 5 is",pos)

In [ ]:
vowels = ('a', 'e', 'i', 'o', 'i', 'u')
pos = vowels.index('e')
print('The index of e:',pos)
pos = vowels.index('i')
print('The index of i:',pos)

In [ ]:
mynums = (10,20,30,40,50)
p = mynums.index(20)
print("20 occurs at",p,"position")
p = mynums.index(60)
print("60 occurs at",p,"position")
p = mynums.index(10)
print("10 occurs at",p,"position")

### The count( ) Method

In [ ]:
The count() method returns the number of occurrences of an element in a tuple

In simple terms, it counts how many times an element has occurred in a tuple and returns it.

Syntax:
tuple_var.count(item)

Example:
country=('i','n','d','i','a')
x=country.count('i')
print("i occurs",x,"times in",country)

In [ ]:
vowels = ('a', 'e', 'i', 'o', 'i', 'u')
x = vowels.count('i')
print("i occurs",x,"times")
x = vowels.count('e')
print("e occurs",x,"times")
x = vowels.count('j')
print("j occurs",x,"times")

In [ ]:
points = (1, 4, 2, 9, 7, 8, 9, 3, 1)
x = points.count(9)
print("9 occurs",x,"times")

In [ ]:
strings = ('Cat', 'Bat', 'Sat', 'Cat', 'cat', 'Mat')
x=strings.count("Cat")
print("Cat occurs",x,"times")

In [ ]:
We can apply four  types of operators on Tuple objects

These are:

Membership Operators

Concatenation Operator

Multiplication 

Relational Operators

In [ ]:
We can apply the ‘in’ and ‘not in’ operators on tuple. 

This tells us whether an item belongs / not belongs to tuple.

In [ ]:
my_tuple = ('a','p','p','l','e',)
print('a' in my_tuple)
print('b' in my_tuple)
print('g' not in my_tuple)

In [ ]:
Concatenation is the act of joining. 


We can join two tuples using the concatenation operator ‘+’.


All other arithmetic operators are not allowed to work on two tuples.

However * works but as a repetition operator

In [ ]:
odds=(1,3,5)
evens=(2,4,6)
all=odds+evens
print(all)

In [ ]:
ages=(10,20,30)
names=("amit","deepak","ravi")
students=ages+names
print(students)

In [ ]:
Python allows us to multiply a tuple by a constant

To do this , as usual we use the operator *

In [ ]:
a=(10,20,30)
b=a*3
print(b)

In [ ]:
a=(10,20,30)
b=a*3.0
print(b)

### Relational Operators On Tuples

In [ ]:
The relational operators work with tuples and other sequences.

Python starts by comparing the first element from each sequence. 

If they are equal, it goes on to the next element, and so on, until it finds elements that differ. 

Subsequent elements are not considered (even if they are really big).

In [ ]:
a=(1,2,3)
b=(1,3,4)
print(a<b)

In [ ]:
a=(1,3,2)
b=(1,2,3)
print(a<b)

In [ ]:
a=(1,2,3)
b=(1,2,3,4)
print(a<b)

In [ ]:
a=()
b=(0)
print(a<b)

In [ ]:
a=()
b=(0,)
print(a<b)

In [ ]:
a=(1,2)
b=("one","two")
print(a<b)

In [ ]:
a=(1,"one")
b=(1,"two")
print(a<b)